form{
      width:100%;
      margin:0 auto;
}

.search-bar {
    max-width: 600px;
    width: 100%;
    margin: 10 px auto;
    color: white;
    padding-bottom: 15px;
    text-align: center;
}

.search {
    max-width: 400px;
    width: 100%;
    padding:6px 15px 6px 30px;
    margin:3px;
    font-family:  'Quicksand', sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
}

.rounded {
    max-width: 400px;
    width: 100%;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}

.sub {
    font-family:  'Quicksand', sans-serif;
    font-weight: lighter;
    letter-spacing: 6px;
    font-size: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
}
